.App {
  text-align: center;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}
.card1{
  background-color: black;
  color: white;
  height: 30em;
  width: 400px;
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}
.forecast{ 
  overflow: auto;
}
.weather{
  height: 100%;
}
.row{
  display: flex;
  height: 4em;
  justify-content: center;
  align-items: center;
  flex:1;
  flex-wrap: wrap;
}
.col{
  display: flex;
  flex:1;
  justify-content: center;
}
.block{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.col-bkg{
  background-color: crimson;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.col-bkg-oblique{
  background-color: #990a25;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.row-bkg:nth-child(even){
  background-color: slategray;
}
.row-bkg:nth-child(odd){
  background-color: #0b2034;
}
.AboutUs{
  z-index: 1;
  border: 1px solid black;
  position: fixed;
  width: 250px;
  right: 0;
  top: 0;
  bottom: 10px;
  opacity: 1;
  overflow: auto;
  background-color: aliceblue;
}
.Select{
  width: 30%;
  height: 4vh;
}
.heading{
  height:6vh;
}