.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #09d3ac;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}
.card1{
  background-color: black;
  color: white;
  height: 20em;
  width: 20%;
  margin: 10px;
  border: 1px solid black;
  flex: 1;  
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}
.forecast{ 
  overflow: auto;
}
.weather{
  height: 100%;
}
.row{
  display: flex;
  height: 4em;
  justify-content: center;
  align-items: center;
  flex:1;
}
.col{
  display: flex;
  flex:1;
  justify-content: center;
}
.block{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.col-bkg{
  background-color: crimson;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.col-bkg-oblique{
  background-color: #990a25;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.row-bkg:nth-child(even){
  background-color: slategray;
}
.row-bkg:nth-child(odd){
  background-color: #0b2034;
}
.AboutUs{
  z-index: 1;
  border: 1px solid black;
  position: fixed;
  left: 70%;
  right: 0;
  top: 0;
  bottom: 10px;
  opacity: 1;
  background-color: aliceblue;
}
.Select{
  width: 30%;
  height: 4vh;
}
.heading{
  height:6vh;
}